@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: black url('../assets/bg-mobile.jpg') no-repeat top center/cover;
}

body * {
	font-family: 'Inter', sans-serif;
	color: #ffffff;
}

#container {
	width: 360px;
	border: 2px dashed red;
	margin: 56px auto 0px;
}

#profile {
	text-align: center;
	padding: 25px;
}

#profile img {
	border-radius: 50%;
	width: 112px;
}

#profile p{
	font-weight: 500;
	font-size: 1em;
	line-height: 24px;
	margin-top: 8px;
}